{% extends "base.html" %}

{% block content %}

    <h1>Blog's Users:</h1>
    <ul>
    {% for usr in users %}
    <li><a href="{{ url_for('userpage', user_id=usr.id) }}" >{{ usr.name }}</a></li>

    {% endfor %}
    </ul>
    <div style="display:inline; width:200px; align:center;">    
        {% if prev_url %}
            <a style="float: left;" href="{{ prev_url }}">Newer users</a>     
        {% endif %}
        {% if next_url %}
            <a style="float:right;" href="{{ next_url }}">Older users</a>
        {% endif %}

    </div>

{% endblock %}
